@font-face {
    font-family: 'Guardian Egyptian Condensed';
    src: url('@@assetPath@@/assets/fonts/condmed.woff2') format('woff2'),
         url('@@assetPath@@/assets/fonts/condmed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.road {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: $c-yellow;
}

.road__photo {
    position: fixed;
    top: 50vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: url('@@assetPath@@/assets/images/photo.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    @include mq(tablet) {
        background-size: 100%;
        top: 0;
    }

    @media screen and (min-aspect-ratio: 10/7) {
        bottom: -10vh;
    }
}

.road__diamonds {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;

    @media screen and (orientation: portrait) {
        background-image: url('@@assetPath@@/assets/images/diamonds--mobile.svg');
        background-size: 134vw;
        background-position: -25vw -28vw;
    }

    @media screen and (orientation: landscape) {
        background-size: 188vh;
        background-position: center top -24vh;
        background-image: url('@@assetPath@@/assets/images/diamonds.svg');
    }
}

.road__headline,
.road__standfirst {
    display: none;
}