@font-face {
    font-family: 'Guardian Egyptian Condensed';
    src: url('@@assetPath@@/assets/fonts/condmed.woff2') format('woff2'),
         url('@@assetPath@@/assets/fonts/condmed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.road {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: $c-yellow;
}

.road__photo {
    position: fixed;
    top: 50vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: url('@@assetPath@@/assets/images/photo.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    @include mq(tablet) {
        background-size: 100%;
        top: 0;
    }
}

.road__diamonds {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('@@assetPath@@/assets/images/diamonds.svg');
    background-size: 210vw;
    background-position: -43vw -30vw;
    background-repeat: no-repeat;

    @include mq(tablet) {
        background-size: 130vw;
        background-position: center bottom 15vh;
    }
}

.road__headline,
.road__standfirst {
    display: none;
}